html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input {
  font-family: inherit;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0  auto;
}

.main {
  background-color: #272b33;
  padding: 20px 100px;
  flex: 1;
  width: 100%;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}